@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
header {
  .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 10px;
  }
  .navbar-light {
    .navbar-nav {
    .nav-link {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: #1C1B1B;
    }
    }
  }
  .soc-header {
    list-style: none;
    align-items: flex-start;
    li {
      &:first-of-type {
        margin-right: 15px;
        padding-top: 8px;
      }
      &:last-of-type {
        margin-left: 7px;
      }
      &:nth-child(2) {
        padding-top: 2px;
      }
    }
  }
}
.container {
  max-width: 1064px;
}
h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 42px;
}
.main_banner {
  background-color: #F0EFEB;
  padding: 90px 0;
 p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
   margin-bottom: 26px;
 }
  .btn-dark {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px;
  }
}
.banner_custom_position {
  position: relative;
  right: -30px;
  bottom: 80px;
  @include max-screen(992px) {
    right: 0;
    width: 100%;
    display: block;
    bottom: 0;
  }
}
.best_sellers {
  padding: 60px 0 248px;
  .mb-4, .my-4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
  }
  .guides {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 47px;
  }
  .ebooks {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 88px;
  }
  .card {
    border: none;
    .card-body {
      h5 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }
      p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }
      a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
      }
    }
  }
}
.people_and_society {
  padding: 76px 0 51px;
  background: rgba(204, 204, 204, 0.3);

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
  }

  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
  }
}
.culture_and_heritage {
  background-color: rgba(204, 204, 204, 0.6);
  padding: 76px 0 51px;
  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
  }
  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
  }
}
.power_and_politics {
  padding: 76px 0 51px;
  background: rgba(204, 204, 204, 0.3);
  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 39px;
  }
  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
  }
}
.guide {
  padding: 190px 0 163px;
  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 69px;
  }
  .col-md-4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 111px;
    &:before {
      content: "";
      display: block;
      background-color: #21F7EC;
      width: 70px;
      height: 70px;
      margin: auto;
      border-radius: 50%;
      margin-bottom: 24px;
    }
    &:nth-child(2){
      &:before {
        background-color: #33D3BC;
      }
    }
    &:nth-child(3){
      &:before {
        background-color: #18A5C6;
      }
    }
    &:nth-child(4){
      &:before {
        background-color: #D38F62;
      }
    }
    &:nth-child(5){
      &:before {
        background-color: #F94C43;
      }
    }
    &:nth-child(6){
      &:before {
        background-color: #D399FF;
      }
    }
  }
}
.interviews {
  h3 {
    margin-bottom: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
  .grey_bg {
    height: 480px;
    background-color: #F0F0F0;
    @include max-screen(767px){
      height: auto;
    }
  }
  article {
    position: relative;
    top: -188px;
    .card-img, .card-img-bottom, .card-img-top {
      width: unset;
    }
    h5 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.6px;
      color: #000000;
    }
    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 22px;
      text-align: center;
      color: #000000;
    }
    a {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      text-decoration-line: underline;
      color: #000000;
    }
  }
}
.keep_in_touch {
  padding: 79px 0 88px;
  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 26px;
  }
  .touch {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    .form-group {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #A0A0A0;
    }
    .form-control {
      border: 1px solid #000000;
      border-radius: 0px;
    }
    .btn-dark {
      background: #000000;
      border: 1px solid #000000;
      border-radius: 100px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      padding: 8px 28px 10px;
    }
  }
}
footer {
  padding: 51px 0 60px;
  background-color: #020202;

  .container {
    .logo2 {
      margin-bottom: 45px;
    }

    .soc-footer {
      list-style: none;
      align-items: flex-start;

      li {
        &:first-of-type {
          margin-right: 23px;
        }

        &:last-of-type {
          margin-left: 21px;
        }
      }
    }
  }
}